:root {
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}
p {
  font-family: var(--secondary-font-family);
  font-size: 16px;
  line-height: 2;
}
img {
  border-radius: 4px;
}
.intro {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 160px 20px;
}

.intro p {
  font-size: 36px;
}
.intro h2 {
  font-family: var(--secondary-font-family);
  line-height: 2px;
  font-size: 24px;
  font-weight: normal;
  opacity: 70%;
}
.btn-branding {
  background: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}
.btn-learn-more {
  border-radius: 4px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}
.project-description {
  padding: 60px 60px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 20px;
  }
  .intro {
    padding: 80px 10px;
  }
  .intro h2 {
    font-size: 16px;
  }
}
